In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\state_au.csv")

In [3]:
df

                          State Abbreviation
0  Australian Capital Territory          ACT
1               New South Wales          NSW
2            Northern Territory           NT
3                    Queensland          QLD
4               South Australia           SA
5                      Tasmania          TAS
6                      Victoria          VIC
7             Western Australia           WA

In [4]:
# tf = pd.read_csv(r"C:\Projects\python\vgSales.txt", sep = '\t')
# tf

tf = pd.read_table(r"C:\Projects\python\vgSales.txt")
tf

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [5]:
ef = pd.read_excel(r"D:\TableauFullProject.xlsx")
ef

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,4825073,https://www.airbnb.com/rooms/4825073,20160104002432,2016-01-04,Cute Basement Apartment,2 bedroom fully finished basement apartment wi...,NaN,2 bedroom fully finished basement apartment wi...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,flexible,f,f,1,0.08
1,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
2,6004058,https://www.airbnb.com/rooms/6004058,20160104002432,2016-01-04,LOWER QUEEN ANNE STUDIO W/PATIO,I love my 3rd floor vintage studio apartment w...,-kitchen (stocked with basics & condiments) -b...,I love my 3rd floor vintage studio apartment w...,none,Queen Anne is very Walk-able. From the studio ...,...,9.0,f,NaN,WASHINGTON,f,flexible,f,f,1,2.29
3,9254900,https://www.airbnb.com/rooms/9254900,20160104002432,2016-01-04,STUDIO APARTMENT WITH A VIEW,Adorable studio apartment in Lower Queen Anne/...,NaN,Adorable studio apartment in Lower Queen Anne/...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,6516529,https://www.airbnb.com/rooms/6516529,20160104002432,2016-01-04,"One-bedroom Apartment, Ballard",One of twelve units in a charming 1924 buildin...,Big windows in the kitchen and living room ope...,One of twelve units in a charming 1924 buildin...,none,Ballard is a vibrant neighborhood loaded with ...,...,NaN,f,NaN,WASHINGTON,f,strict,f,f,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,4993710,https://www.airbnb.com/rooms/4993710,20160104002432,2016-01-04,"Cozy Condo in Fremont, with parking","Comfortable, rustic yet modern condo situated ...",Has its own parking space and lovely view patio.,"Comfortable, rustic yet modern condo situated ...",none,The center of the universe is full of fun cult...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,3.14
3814,7646637,https://www.airbnb.com/rooms/7646637,20160104002432,2016-01-04,Private & Relaxing Home in Fremont,This home offers plenty of privacy and free pa...,This elegant & sophisticated yet simple crafts...,This home offers plenty of privacy and free pa...,none,The layout of this neighborhood is neat becaus...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,1,1.01
3815,4100009,https://www.airbnb.com/rooms/4100009,20160104002432,2016-01-04,Spacious 1BR in quirky Fremont,Rest & recreation for your life. Live it. Love...,The apartment is located in the lower level of...,Rest & recreation for your life. Live it. Love...,none,"Fremont is a funky, creative neighborhood abou...",...,10.0,f,NaN,WASHINGTON,t,moderate,f,f,1,2.61
3816,9604740,https://www.airbnb.com/rooms/9604740,20160104002432,2016-01-04,Amazing View with Modern Comfort!,Cozy studio condo in the heart on Madison Park...,Fully furnished unit to accommodate most needs...,Cozy studio condo in the heart on Madison Park...,none,Madison Park offers a peaceful slow pace upsca...,...,NaN,f,NaN,WASHINGTON,f,moderate,f,f,1,NaN
3817,3345341,https://www.airbnb.com/rooms/3345341,20160104002432,2016-01-04,100% Walk Score 1-BR Downtown,100% Walk Score close to the Convention Center...,The space seeks to feel like home while giving...,100% Walk Score close to the Convention Center...,none,This neighborhood is AWESOME! We are: - 1 stre...,...,9.0,f,NaN,WASHINGTON,f,moderate,f,f,1,2.89

In [6]:
ef2 = pd.read_excel(r"D:\TableauFullProject.xlsx", sheet_name = 'reviews')
ef2

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...
...,...,...,...,...,...,...
84844,3624990,50436321,2015-10-12,37419458,Ryan,The description and pictures of the apartment ...
84845,3624990,51024875,2015-10-17,6933252,Linda,We had an excellent stay. It was clean and com...
84846,3624990,51511988,2015-10-20,19543701,Jaime,"Gran ubicaciÃƒÂ³n, cerca de todo lo atractivo de..."
84847,3624990,52814482,2015-11-02,24445024,JÃƒÂ¸rgen,"Very good apartement, clean and well sized. Si..."
84848,9727246,56429621,2015-12-13,30860360,Stephanie,"Breanne was a great host. Check in was easy, s..."

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         8 non-null      object
 1   Abbreviation  8 non-null      object
dtypes: object(2)
memory usage: 260.0+ bytes

In [8]:
ef2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  datetime64[ns]
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84830 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 3.9+ MB

In [9]:
ef2.shape

(84849, 6)

In [10]:
ef2.head(20)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...
5,7202016,43979139,2015-08-23,1154501,Barent,"Kelly was great, place was great, just what I ..."
6,7202016,45265631,2015-09-01,37853266,Kevin,Kelly was great! Very nice and the neighborhoo...
7,7202016,46749120,2015-09-13,24445447,Rick,hola all bnb erz - Just left Seattle where I h...
8,7202016,47783346,2015-09-21,249583,Todd,Kelly's place is conveniently located on a qui...
9,7202016,48388999,2015-09-26,38110731,Tatiana,"The place was really nice, clean, and the most..."
10,7202016,49441269,2015-10-04,39852826,Tim,"The place was really nice, clean and quiet at ..."
11,7202016,50490194,2015-10-12,384855,Tony,The listing was exactly as described! Kelly's...
12,7202016,53862449,2015-11-13,21607838,Jason,Very welcoming and a nicer place to live in th...
13,7202016,54562283,2015-11-21,17052263,Don,"Great location, great price, great host! Thank..."
14,7202016,55212826,2015-11-29,4774006,Vivian,Staying at Kelly's was easy. The location was ...
15,7202016,58268184,2016-01-02,41297839,Travis,Kelly was an amazing host who made the stay ve...
16,3946674,20798623,2014-10-05,9313038,Angeline,"Despite our late booking request, Rachel & Jon..."
17,3946674,21224862,2014-10-13,8385649,Celine,Rachel & Jon have a nice house closed to downt...
18,3946674,22877803,2014-11-16,9403201,RÃƒÂ©my,Rachel and Jon have been the perfect hosts for...
19,3946674,22938377,2014-11-17,2920596,Jason,This house was a delightful bright place to st...

In [11]:
ef2.tail(20)

,listing_id,id,date,reviewer_id,reviewer_name,comments
84829,1179538,55507128,2015-12-01,49230937,Natalie,"Very nice apartment, clean and quite."
84830,3624990,20029700,2014-09-22,6074769,Christie,The location is super convenient to the state ...
84831,3624990,23031040,2014-11-21,19473144,Megan,This apartment is in a great location - easy w...
84832,3624990,27384730,2015-03-03,23852813,Justine,Absolutely perfect stay! Doug & Rebecca were s...
84833,3624990,28773963,2015-03-30,13891549,Cyanide & Happniess,"Excellent room, very attentive property manage..."
84834,3624990,29827002,2015-04-13,5703826,Janice,"Great, clean place in a perfect location for a..."
84835,3624990,31793991,2015-05-10,13052628,Jordan,What an amazing place to stay in Seattle! A fe...
84836,3624990,32446221,2015-05-18,24660858,Colleen,We had an excellent stay at Seattle Suites! Th...
84837,3624990,32954604,2015-05-24,22378313,Ryan,The apartment was clean and accurate to the de...
84838,3624990,35297846,2015-06-17,2457555,Sharon,We were warmly greeted by Doug at the time agr...
84839,3624990,36782055,2015-07-01,33029028,Simon,"The apartment was clean, tidy and as described..."
84840,3624990,42509459,2015-08-14,1329969,Joke,We were with 7 people in rebecca's two 2-bed a...
84841,3624990,46118182,2015-09-08,2005229,Brandon,Great place in the middle of the city. Easy to...
84842,3624990,49000780,2015-09-30,21815461,Kellye,We loved how close it was to the Convention Ce...
84843,3624990,49768901,2015-10-06,37578535,Michael,Comfortability upon arrival and everything wit...
84844,3624990,50436321,2015-10-12,37419458,Ryan,The description and pictures of the apartment ...
84845,3624990,51024875,2015-10-17,6933252,Linda,We had an excellent stay. It was clean and com...
84846,3624990,51511988,2015-10-20,19543701,Jaime,"Gran ubicaciÃƒÂ³n, cerca de todo lo atractivo de..."
84847,3624990,52814482,2015-11-02,24445024,JÃƒÂ¸rgen,"Very good apartement, clean and well sized. Si..."
84848,9727246,56429621,2015-12-13,30860360,Stephanie,"Breanne was a great host. Check in was easy, s..."

In [12]:
df['State']

0    Australian Capital Territory
1                 New South Wales
2              Northern Territory
3                      Queensland
4                 South Australia
5                        Tasmania
6                        Victoria
7               Western Australia
Name: State, dtype: object

In [13]:
ef2.loc[69]

listing_id                                                 8308353
id                                                        48957529
date                                           2015-09-29 00:00:00
reviewer_id                                               28592890
reviewer_name                                               Thomas
comments         It was magnificent!   The place was beautiful ...
Name: 69, dtype: object

In [14]:
ef2.iloc[69]

listing_id                                                 8308353
id                                                        48957529
date                                           2015-09-29 00:00:00
reviewer_id                                               28592890
reviewer_name                                               Thomas
comments         It was magnificent!   The place was beautiful ...
Name: 69, dtype: object

In [18]:
ef2.loc[6074769]

KeyError: 6074769